@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Oswald:wght@500&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: #8C8048;
  font-family: Lato;
}
#content {
  max-width: 960px;
  margin: 0 auto;
  background-color: #2C6F93;
  font-family: Oswald;
}

.home-paragraph-3 {
  text-align: center;
}

nav a {
  color: #8C8048;
  font-size: 1.1em;
}
main {
  background-color: white;
}

.home-headline-1,
.home-headline-2 {
  padding: 0.2em;
}

.home-headline-1,
.home-headline-2,
.home-headline-3 {
  line-height: 2em;
  margin-bottom: -0.5em;
  margin-top: 2em;
}

.home-paragraph-1,
.home-paragraph-2 {
  padding: 0.2em;
  margin-top: 0.5em;
}
